body {
    background-color: rgb(216, 177, 126);
    text-align: center;
    font-size: 40px;
}

button {
    background-color: rgb(225, 100, 86);
    height: 50px;
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}